.panda-bg-info {
    background-color: #fceae8;
}
.catagories img{
    width: 100px;
}
.background1 {
    background-color: #ffa500;
}
.background2 {
    background-color: #da70d6;
}
.background3 {
    background-color: #0000ff;
}

.price {
    color: #FF136F;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}